version: '3'

services:

  application:
    container_name: payroll-app
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    image: untilov/payroll
    restart: always
    expose:
      - 3000
    ports:
      - 3000:3000
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .env.docker:/app/.env.docker
    env_file:
      - .env.docker
    healthcheck:
      test: [ "CMD-SHELL", "curl", "-f", "" ]
      interval: 1s
      timeout: 5s
      retries: 10

  db:
    container_name: payroll-db
    build:
      context: .
      dockerfile: ./packages/postgres/Dockerfile
    image: untilov/postgres
    hostname: payrollhost
    expose:
      - 5432
    ports:
      - 5532:5432
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./postgres-backup:/backup
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 1s
      timeout: 5s
      retries: 10
    env_file:
      - ./.env.docker
  # reverse-proxy:
  #   container_name: payroll-nginx
  #   build:
  #     context: .
  #     dockerfile: ./packages/nginx/Dockerfile
  #   image: untilov/nginx
  #   restart: always
  #   ports:
  #     - 80:80

networks:
  default:
    name: payroll_network
    driver: bridge
    # external: true
